.banner{
    background-size: 6000px;
    background-position: center center;
}

.wrap {
    min-height: 700px;
    display: flex;
    justify-content: center;
    .left{
        padding: 20px 20px 40px;
        border: 1px solid #d3d3d3;
        border-top: none;
        width: 730px;
    }
    .right{
        width: 250px;
        border-right: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(4, 140px);
        grid-template-rows: repeat(2, 1fr);
        //row column
        gap: 10px 20px;
        justify-content: center;
        .top{
            width: 140px;
            height: 140px;
            img{
                width: 100%;
                height: 100%;
            }
        }    
    }
}