<div class="container">
    <div class="player-box">
        <div class="updn">
            <div class="fl">
                <i nz-icon nzType="unlock" nzTheme="outline"></i>
                <!-- <i nz-icon nzType="lock" nzTheme="outline"></i> -->
            </div>
        </div>
        <div class="hand"></div>
        <div class="wrapper">
            <div class="btns">
                <i class="pre" (click)="$event.stopPropagation();pre()"></i>
                <i [hidden]="playing" class="play-btn" (click)="$event.stopPropagation(); onToggle();"></i>
                <i [hidden]="!playing" class="pause-btn" (click)="$event.stopPropagation(); onToggle()"></i>
                <i class="next" (click)="$event.stopPropagation();next()"></i>
            </div>
            <div class="head">
                <img [src]="picUrl" alt="music pic">
            </div>
            <div class="play">
                <div class="words">
                    <a class="name">{{currentSong?.name}}</a>
                    <ng-container *ngFor="let item of currentSong?.ar;last as isLast">
                        <a>{{item.name}}
                            <ng-container *ngIf="last == isLast">/</ng-container>
                        </a>
                    </ng-container>
                    <i class="link" nz-icon nzType="link" nzTheme="outline"></i>
                </div>
                <app-slider [(ngModel)]="percent" (nzAfterChange)="percentSliderChange($event)"></app-slider>
                <span class="duration">
                    {{currentTime}}/{{ currentSong?.dt | duration }}
                </span>
            </div>
            <div class="oper">
                <i class="store"></i>
                <i class="share"></i>
            </div>
            <div class="ctrl">
                <i class="volum"></i>
                <i class="mod"></i>
                <span>
                    <i class="list"></i>
                </span>
            </div>
        </div>
    </div>

    <audio #audio [src]="currentSong?.url" (canplay)="onCanPlay()" (timeupdate)="onTimeUpdate($event)" (ended)="timeEnded()"></audio>
</div>