<div class="container">
    <div class="player-box">
        <div class="updn">
            <div class="fl">
                <i nz-icon nzType="unlock" nzTheme="outline"></i>
                <!-- <i nz-icon nzType="lock" nzTheme="outline"></i> -->
            </div>
        </div>
        <div class="hand"></div>
        <div class="wrapper">
            <div class="btns">
                <i class="pre"></i>
                <i class="play-btn"></i>
                <i class="next"></i>
            </div>
            <div class="head">
                <img src="https://p1.music.126.net/wB-3h7dsFbcS92O8Tdi5Bw==/109951164459703022.jpg?param=34y34" alt="">
            </div>
            <div class="play">
                <div class="words">
                    <a class="name">我是一颗跳跳糖</a>
                    <a>王一博</a>
                    <i class="link" nz-icon nzType="link" nzTheme="outline"></i>
                </div>
                <app-slider></app-slider>
            </div>
            <div class="oper">
                <i class="store"></i>
                <i class="share"></i>
            </div>
            <div class="ctrl">
                <i class="volum"></i>
                <i class="mod"></i>
                <span>
                    <i class="list"></i>
                </span>
            </div>
        </div>
    </div>
    <audio [hidden]="true" #audio></audio>
</div>