.wrap {
  position: relative;

  .arrow {
    z-index: 1;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    font-size: 40px;
    padding: 40px 5px;
    color: #fff;
  }

  .arrow:hover {
    background: #333;
    opacity: 0.5;
  }

  .arrow.left {
    left: calc(50% - 565px);
  }

  .arrow.right {
    right: calc(50% - 565px);
  }

  nz-carousel {
    height: 285px;

    [nz-carousel-content] {
      height: 285px;

      a {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;

        &>img {
          width: 980px;
          height: 285px;
        }
      }
    }
  }

  .dot {
    color: #ddd;
  }

  .dot.active {
    color: red;
  }
}

:host ::ng-deep .ant-carousel .slick-dots-bottom {
  bottom: 25px;
}
